<!DOCTYPE HTML>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "static/style.css">

    <title>AVA Home</title>
    <style>
      .title{
        font-family: 'Roboto'
      }
      .req-div{
        border: 2px solid black;
        margin-top:20px;
        margin-bottom:20px;
        padding:10px;
        border-radius: 5px;
      }
      body{
        background-color: cornflower;
      }
    </style>
    <script>
      var reqs = -1;
      function updatePage() {
        fetch("http://localhost:5000/reqCount")
        .then(res => res.json())
        .then(resJson => {
          console.log(resJson["count"])
          if (reqs == -1)
            reqs = resJson["count"];
          else {
            if (reqs < resJson["count"]) {
              console.log("here")
              location.reload();
              window.scrollTo(0, document.body.scrollHeight);
            }
          }
        })
      }
      setInterval(updatePage, 10000)
    </script>
  </head>

  <body>
    <div class = "container">
      <h1>Request Manager</h1>
      <div class = "justify-content-center">
          {% for request in req_data %}
            <div class='req-div'>
              <h3 class="title col"> {{loop.index}}. Request for <strong> {{request[1]}} </strong> </h3>
              <p class="col" id="date{{loop.index}}"> </p>
              <p class="col" id="time{{loop.index}}"> </p>
              <p class="col" id="type{{loop.index}}"> </p>
              <p class="col" id="name{{loop.index}}"> </p>

              <script>
                var req_time = {{request | safe}}[3];
                var date = req_time.split("T")[0];
                var time = req_time.split("T")[1];
                time = time.split("-")[0];
                var dateObj = date + " " + time;
                var given = new Date(dateObj);
                var day_list = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                console.log("test: " + day_list[given.getDay()]);
                document.getElementById("date{{loop.index}}").innerHTML = "<strong>Date</strong>: " + date + ", " + day_list[given.getDay()]
                document.getElementById("time{{loop.index}}").innerHTML = "<strong>Time: </strong>" + time
                var type = {{request | safe}}[4]
                var biz_name = {{request | safe}}[2]
                console.log(biz_name)
                if(type=="restaurant"){
                  type = "Booking a restaurant."
                  document.getElementById("name{{loop.index}}").innerHTML = "<strong>Restaurant: </strong>" + biz_name
                }
                else if(type=="roomCleaning"){
                  type = "Scheduling a room cleaning."
                }
                else if(type=="activity"){
                  type = "Booking an activity."
                  document.getElementById("name{{loop.index}}").innerHTML = "<strong>Activity at: </strong>" + biz_name
                }

                document.getElementById("type{{loop.index}}").innerHTML = "<strong>Request type: </strong>" + type
                </script>
              </div>
          {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
